{% extends "base.html" %}
{% block title %} Sites {% endblock %}
{% block content %}  
    <style>
        a.button {border-radius: 50%;width: 25px;height: 25px;font-size: 12px;display: inline-block;text-align: center;box-sizing: border-box;background-color: buttonface;padding: 6px;box-shadow: 0px 1px 2px rgba(0, 0, 0);}
        a{ text-decoration: none;}
        .site{height: 25px; list-style: none;width: 94%; min-width: 275px;margin: 1px; border: 1px solid #ffbc00;box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.06);padding: 5px;}
        ol{display: table;}
        ol li { color: #4F4F4F; max-width: 500px;padding: 5px;margin: 5px auto;border: 1px solid #eee;box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.06);}
        .sitename{height: 30px;}
    </style>
    <style>
        @use postcss-preset-env {
            stage: 0
        }
        
        :root {
            --surface1: hsl(0 0% 90%);
            --surface2: hsl(0 0% 100%);
        
            --text1: hsl(0 0% 20%);
        }
        
        html {
            block-size: 100%;
            inline-size: 100%;
        }
        
        body {
            min-block-size: 100%;
            min-inline-size: 100%;
            box-sizing: border-box;
            margin: 0;
            padding: 1rem;
        
            display: grid;
            place-content: center;
            font-family: system-ui, sans-serif;
            background-color: var(--surface1);
            color: var(--text1);
        }
        
        .overflow-x {
            overflow-x: auto;
            overscroll-behavior-x: contain;
        }
        .overflow-x ,.cardbox{
            border: 1px solid hsl(0 0% 80%);
            border-radius: 1ex;
            background-color: var(--surface2);
            padding: 2rem;
            box-shadow: 0 0 40px -10px rgba(0, 0, 0, .4);
        }
        
        .horizontal-friends-list {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: 10ch;
            gap: 2rem;
        
            & > figure {
            display: grid;
            gap: 1ex;
            margin: 0;
            text-align: center;
            position: relative;
            cursor: pointer;
            user-select: none;
            transition: transform .2s ease-in-out;
        
            &:hover {
                transform: scale(1.1);
            }
        
            &:last-child::after {
                content: "";
                position: absolute;
                width: 2rem;
                height: 100%;
                right: -2rem;
                inline-size: 2rem;
                block-size: 100%;
                inset-end: -2rem;
            }
        
            & > picture {
                display: inline-block;
                inline-size: 10ch;
                block-size: 10ch;
                border-radius: 50%;
        
                background: 
                radial-gradient(hsl(0 0% 0% / 15%) 60%, transparent 0),
                radial-gradient(white 65%, transparent 0),
                linear-gradient(to top right, orange, deeppink);
        
                & > img {
                display: block;
                inline-size: 100%;
                block-size: 100%;
                object-fit: cover;
                clip-path: circle(42%);
                }
            }
        
            & > figcaption {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-weight: 500;
            }
            }
        }
        .logoutbtn {
            position: fixed;             
            right: 2rem;
            bottom: 1rem;            
        }
        .scrollbar{
            background: #F5F5F5;
            overflow-x: scroll;
        }
       
        .scrollbar::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #F5F5F5;
            border-radius: 10px;
        }

        .scrollbar::-webkit-scrollbar
        {
            width: 10px;
            background-color: #F5F5F5;
        }

        .scrollbar::-webkit-scrollbar-thumb
        {
            background-color: #3366FF;
            border-radius: 10px;
        }
        .btncon{
            background-color: rgb(219 234 254 / 0.6);
            --tw-text-opacity: 1;
            color: rgb(59 130 246 / var(--tw-text-opacity));
            padding: 0.625rem;
            box-sizing: border-box;
            border-radius: 0.5rem;
            border: 1 solid #e5e7eb;
            box-shadow: 1px 1px 1px;
            --tw-border-spacing-x: 0;
            --tw-border-spacing-y: 0;
            display: inline-block;
        }


    </style>
    <section class="overflow-x scrollbar">
      
        <div class="horizontal-friends-list">
            {% if sites %}
            {% for site in sites %}
            <figure>
                <picture>
                    <img src="https://www.google.com/s2/favicons?domain={{site}}">
                </picture>
                <figcaption>{{site.split("/")[2]}}</figcaption>
                <span style="float: right;">
                    <a onclick='cls("{{site }}")' id="close_{{site }}" class="btncon" title="bağla" style="display: none;"><svg fill="#1565C0" width="16px" viewBox="-6 -6 24 24" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin" class="jam jam-close"><path d='M7.314 5.9l3.535-3.536A1 1 0 1 0 9.435.95L5.899 4.485 2.364.95A1 1 0 1 0 .95 2.364l3.535 3.535L.95 9.435a1 1 0 1 0 1.414 1.414l3.535-3.535 3.536 3.535a1 1 0 1 0 1.414-1.414L7.314 5.899z' /></svg></a>
                    <a onclick='getData("{{site }}")' id="hide_{{site }}" class="btncon" title="Xəbərləri Göstər">
                        <svg width="16px" viewBox="0 0 48 48" version="1" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 48 48">
                            <g fill="#1565C0">
                                <path d="M13,13c0-3.3,2.7-6,6-6h10c3.3,0,6,2.7,6,6h4c0-5.5-4.5-10-10-10H19C13.5,3,9,7.5,9,13v11.2h4V13z"/>
                                <polygon points="4.6,22 11,30.4 17.4,22"/>
                            </g>
                            <g fill="#1565C0">
                                <path d="M35,35c0,3.3-2.7,6-6,6H19c-3.3,0-6-2.7-6-6H9c0,5.5,4.5,10,10,10h10c5.5,0,10-4.5,10-10V23h-4V35z"/>
                                <polygon points="30.6,26 37,17.6 43.4,26"/>
                            </g>
                        </svg>                    </a> 
                    <a href="{{site }}" target="_blank" class="btncon" title="sayta keç"><svg width="16px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none"><path stroke="#1565C0" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 4H6a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-4m-8-2 8-8m0 0v5m0-5h-5"/></svg></a>
                    <!--a href="/res?url={{site}}" target="_blank" class="button" title="json"><svg width="16px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 19H16C17.1046 19 18 18.1046 18 17V14.5616C18 13.6438 18.6246 12.8439 19.5149 12.6213L21.0299 12.2425C21.2823 12.1794 21.2823 11.8206 21.0299 11.7575L19.5149 11.3787C18.6246 11.1561 18 10.3562 18 9.43845V5H14" stroke="#1565C0" stroke-width="2"/><path d="M10 5H8C6.89543 5 6 5.89543 6 7V9.43845C6 10.3562 5.37541 11.1561 4.48507 11.3787L2.97014 11.7575C2.71765 11.8206 2.71765 12.1794 2.97014 12.2425L4.48507 12.6213C5.37541 12.8439 6 13.6438 6 14.5616V19H10" stroke="#1565C0" stroke-width="2"/></svg></a-->
                </span>
            </figure>
            {% endfor %}
            {% else %}
                <p>Maalesef, dosya bulunamadı.</p>
            {% endif %}
        </div>
      
    </section>
    <section class="cardbox" style="max-width: 500px;min-width: 200px;min-height: 300px;margin: 10px auto;padding: 1rem;" id="blok">
        <div>
            <div id="site" style="margin-left: 6%;font-size: 3ch;margin: 1ch 1ch;"></div>
        </div>
        <hr style="width: 20%;margin: 0px 30px;border: 1px solid #0B5AA2;">
        <div>
            <ol id="veri_" style="padding: 3px;float: left;margin-left: 30px;"></ol>
        </div>
    </section>
    <a href="/logout" title="çıxış" class="btncon logoutbtn"><svg width="30px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none">  <path stroke="#1565C0" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12h-9.5m7.5 3l3-3-3-3m-5-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2h5a2 2 0 002-2v-1"/></svg></a>
    



    <script>

        function setCookie(name, value, days) {
            const date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            const expires = "expires=" + date.toUTCString();
            document.cookie = name + "=" + value + ";" + expires + ";path=/";
        }

        function getCookie(name) {
            const decodedCookie = decodeURIComponent(document.cookie);
            const cookies = decodedCookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                let c = cookies[i].trim();
                if (c.indexOf(name + "=") == 0) {
                    return c.substring(name.length + 1, c.length);
                }
            }
            return "";
        }


        document.getElementById("blok").style.display = "none";
        function getData(site) {
            
            const lastButton = getCookie("lastButton");
            if (lastButton) {
                document.getElementById("hide_"+lastButton).style.display = "";
                document.getElementById("close_"+lastButton).style.display = "none";
            } 

            document.getElementById("close_"+site).style.display = "";
            setCookie("lastButton", site, 1);
            document.getElementById("hide_"+site).style.display = "none";
            document.getElementById("blok").style.display = "";
            document.getElementById("veri_").innerHTML = ""
            document.getElementById("site").innerHTML = ""
            var xhr = new XMLHttpRequest();
            var url = "/res?url="+site
            var veri= "veri_"
            xhr.onreadystatechange = function() {   
                const url = new URL(site) 
                document.getElementById("site").innerHTML = "<b>"+url.hostname+"</b>";        
                if (this.readyState == 4 && this.status == 500) {
                    console.log(this.status)                
                    document.getElementById(veri).innerHTML = "<li>xeta baş verdi (500)</li>";
                }
                if (this.readyState == 4 && this.status == 200) {
                    var data = JSON.parse(this.responseText);
                    var i, listeUzunluk = data.length;
                    var lis =[]
                    for(i = 0; i < listeUzunluk; i++) {
                        lis=lis+"<li><a href='"+data[i]["news_link"]+"'  target='_blank'>"+data[i]["news_title"]+"</a></li>"
                    }
                    //document.getElementById(veri).innerHTML = JSON.stringify(lis);
                    document.getElementById(veri).innerHTML = lis;
                }
            };        
            xhr.open("GET", url);
            xhr.send();
        }
        function cls(veri){
            const lastButton = getCookie("lastButton");

            if (lastButton === veri) {
                document.getElementById("hide_"+lastButton).style.display = "";
            } 
            document.getElementById("close_"+veri).style.display = "none";
            document.getElementById("blok").style.display = "none";
            document.getElementById("veri_").innerHTML = ""
            document.getElementById("site").innerHTML = ""
        }
    </script>
{% endblock %}

